<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0","margin":{"top":"0"}}},"layout":{"type":"default"}} -->
<main rico class="wp-block-group" style="margin-top:0">
	<!-- wp:pattern {"slug":"twentytwentyfour/page-home-business"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->

<script>
	console.log('rico');
const WPQL_QUERY = { query:`
	{
		posts{
    edges{
      node{
        id
        postId
        title
        content
      }
    }
  }
	}
	`
}

fetch('http://localhost:8888/coastal-clear-pool-service-wp-api/index.php?graphql', {
	method: 'POST',
	headers: {
		'Content-Type': 'application/json'
	},
	body: JSON.stringify(WPQL_QUERY),
})
.then(res => res.json())
.then(json => {
	console.log(json.data.posts.edges)
})
console.log('rico2');
</script>